* {
 margin: 0;
 padding:0;
 box-sizing:border-box;
}

.body{


 width: 90vw;
 height:70vh;
 border-radius: 2rem;
}

.App{
 min-height: 100vh;
 display:flex;
 justify-content: center;
 align-items: center;

}
.card{
 background: white;
 padding: 3rem 5rem;
 border-radius: 2rem;
 margin-bottom: 150px;
}
.card p{
 padding-top:1rem;
}